<div class="hlp-index flex" [ngStyle]="style" [ngClass]="styleClass">
  <div class="hlp-index-filter">
    <div class="hlp-index-filter-txt">
      <input #txtFilter type="text" placeholder="Filter" [(ngModel)]="filterTerm" (keyup.enter)="filter()">
    </div>
    <div class="hlp-index-filter-btn">
      <button class="btn btn-default btn-filter" (click)="filter()"><i class="fa fa-fw fa-filter"></i></button>
    </div>
  </div>
  <div class="hlp-index-info flex" *ngIf="loading">
    <i class="fa fa-fw fa-cog fa-spin fa-2x"></i><strong>Loading</strong>
  </div>
  <div class="hlp-index-info hlp-index-noresults flex" *ngIf="initialized && !loading && indexItems == null">
    <i class="fa fa-fw fa-exclamation-circle fa-2x"></i>No Results
  </div>
  <div class="hlp-index-list overflow" *ngIf="!loading && indexItems != null">
    <div class="hlp-index-list-inner">
      <hlp-list #indexListComp [items]="indexItems" [checkIsItemSelected]="checkIsIndexSelected" [checkCanSelectItem]="checkCanSelectIndex" (onItemSelected)="onIndexItemSelected($event)"></hlp-list>
    </div>
  </div>
  <div class="hlp-index-chapters" *ngIf="!loading && chapterItems?.length > 0">
    <div class="hlp-index-chapters-headline">Select Chapter</div>
    <div class="hlp-index-list overflow">
      <div class="hlp-index-list-inner">
        <hlp-list #chapterListComp [items]="chapterItems" [checkIsItemSelected]="checkIsChapterSelected" [checkCanSelectItem]="checkCanSelectChapter" [showChildren]="false" (onItemSelected)="onChapterItemSelected($event)"></hlp-list>
      </div>
    </div>
  </div>
</div>
