<div class="hlp-content" [ngStyle]="style" [ngClass]="styleClass">
  <div class="hlp-content-loading flex" *ngIf="!initialized">
    <fa-icon [icon]="iconCog" [fixedWidth]="true" [spin]="true" size="2x"></fa-icon><strong>Loading</strong>
  </div>
  <hlp-tree #treeComp [nodes]="chapterNodes" [iconLeaf]="iconLeaf" [iconCollapsed]="iconFolder" [iconExpanded]="iconFolderOpen" [checkIsNodeSelected]="checkIsNodeSelected" (onNodeSelected)="onNodeSelected($event)" *ngIf="initialized"></hlp-tree>
</div>
