<li #nodeRef class="hlp-treenode" *ngIf="node">
  <div class="hlp-treenode-content" [ngClass]="{'hlp-treenode-selected': isSelected()}" (click)="onClick($event)">
    <span class="hlp-treenode-icon" *ngIf="getIcon()" (click)="toggle($event)"><fa-icon [icon]="getIcon()" [fixedWidth]="true"></fa-icon></span>
    <span class="hlp-treenode-label">{{ node.label }}</span>
  </div>
  <ul class="hlp-treenode-children" *ngIf="expanded && node.children && node.children.length">
    <hlp-treenode *ngFor="let child of node.children" [node]="child"></hlp-treenode>
  </ul>
</li>
