<div class="hlp-search flex" [ngStyle]="style" [ngClass]="styleClass">
  <div class="hlp-search-form">
    <div class="hlp-search-form-txt">
      <input #txtSearch type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (keyup.enter)="search()">
    </div>
    <div class="hlp-search-form-btn">
      <button class="btn btn-default btn-search" (click)="search()">
        <fa-icon [icon]="iconSearch" [fixedWidth]="true"></fa-icon>
      </button>
    </div>
  </div>
  <div class="hlp-search-info flex" *ngIf="!searching && chapterItems == null && searchTermLast == null">
      <fa-icon [icon]="iconSearch" [fixedWidth]="true" size="4x" style="opacity: 0.2;"></fa-icon>
  </div>
  <div class="hlp-search-info flex" *ngIf="searching">
      <fa-icon [icon]="iconCog" [fixedWidth]="true" [spin]="true" size="2x"></fa-icon><strong>Searching</strong>
  </div>
  <div class="hlp-search-info hlp-search-noresults flex" *ngIf="!searching && chapterItems == null && searchTermLast != null">
      <fa-icon [icon]="iconWarning" [fixedWidth]="true" size="2x"></fa-icon>No Results
  </div>
  <div class="hlp-search-list overflow" *ngIf="!searching && chapterItems != null">
    <div class="hlp-search-list-inner">
      <hlp-list #listComp [items]="chapterItems" [checkIsItemSelected]="checkIsItemSelected" [checkCanSelectItem]="checkCanSelectChapter" (onItemSelected)="onItemSelected($event)"></hlp-list>
    </div>
  </div>
</div>
