html, body {
  height: 100%;
}

body {
  display: flex;
}

.hlp-app-loading {
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.flex {
  flex: 1;
  display: flex;
}

.overflow {
  overflow: auto;
}

.gradientsilver {
  @include gradient-silver();
}
