<div class="hlp-navigation" [ngStyle]="style" [ngClass]="styleClass">
  <div class="hlp-navigation-btn-group">
    <button class="btn btn-menu" [ngClass]="{ 'btn-menu-selected': isContentSelected() }" (click)="showContent($event)"><i class="fa fa-fw fa-file-text"></i>Contents</button>
    <button class="btn btn-menu" [ngClass]="{ 'btn-menu-selected': isIndexSelected() }" (click)="showIndex($event)"><i class="fa fa-fw fa-list"></i>Index</button>
  </div>
  <div class="hlp-navigation-btn-group">
    <button class="btn btn-menu" [ngClass]="{ 'btn-menu-selected': isSearchSelected() }" (click)="showSearch($event)"><i class="fa fa-fw fa-search"></i>Search</button>
    <button class="btn btn-menu" (click)="print($event)"><i class="fa fa-fw fa-print"></i>Print</button>
  </div>
</div>
